.join{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.join_banner{
    background: url(./images/login_banner.jpg) no-repeat;
    height: auto;
    background-size: cover;
    width: 2000px;
    height: 240px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

.join_banner h2{
    color: #ffffff;
    position: absolute;
    left: 120px;
    top: 100px;
}

.join_form{
    width: 100%;
    padding: 80px 0;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.join_form h1{
    width: 100px;
    margin: 0 auto;
    position: static;
   text-align: center;
   margin-bottom: 40px;
}

.join_form h1 img{
  width: 100px;
  display: block;
  text-align: center;
}

.join_form p{
    margin-bottom: 20px;
}

input{
    width: 400px;
    height: 50px;
    border: 1px solid #C30F30;
    padding-left: 10px;
    box-sizing: border-box;
}

.join_btn{
   width: 400px;
   height: 50px;
   color: #ffffff;
   background: #C30F30;
   border: none;
   font-size: 20px;
   margin-bottom: 20px;
}